# Include your project-specific ignores in this file
# See https://help.github.com/ignore-files/ for more about ignoring files

# Build output
build/

# Dependencies
node_modules/
flow-typed/

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-error.log*

# VS Code
.vscode/*
!.vscode/snippets
!.vscode/launch.json
!.vscode/settings.json

# Misc
.firebase/*
__generated__
.DS_Store
.env.local
.env.*.local
.eslintcache
.yarn-integrity
backup.sql
