# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Compiled output
public/dist
public/index.html
public/sitemap.xml

# Node.js and NPM
node_modules
npm-debug.log

# Firebase
firebase-debug.log
